* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}

.container {
    display: flex;
    flex-direction: column;

}

.container>.nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
}

.container>.nav>.first_nav {
    display: flex;
    gap: 10px;
}

.container>.nav>.first_nav>.link>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.container>.nav>.first_nav>.link>ul>li>a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 10px;
    color: var(--Grayish-blue);
}

.container>.nav>.first_nav>.link>ul>li>a:hover {
    color: var(--Black);
    border-bottom: 5px solid var(--Orange);
    padding-bottom: 40px;
    z-index: 1;
}

.container>.nav>.nav_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 100px;
}
.container>.nav>.nav_icon>.num{
    width: 15px;
    height: 10px;
    background-color: var(--Orange);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--White);
    right: -30px;
    top: -10px;
    position: relative;
    display: none;
}

.container>.nav>.nav_icon>img {
    width: 50px;
    height: 50px;
}

.container>.nav>.nav_icon>svg:hover {
    cursor: pointer;
    /* .container>.nav>.nav_icon>.num{
        display: block;
    } */
}

.container>.nav>.nav_icon>img:hover {
    border: 1px solid var(--Orange);
    border-radius: 50%;
    cursor: pointer;
}

.container>.cart {
    width: 250px;
    height: 210px;
    background-color: var(--White);
    box-shadow: 3px 3px 10px 0px var(--Black),-3px -3px 10px 0px;
    margin-right: 0;
    position:absolute;
    right: 70px;
    top: 90px;
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    display: none;
}
.container >.cart >.text{
    font-size: 16px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Black);
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.container> .cart >#cart-root{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
}
.container> .cart >#cart-root >.img{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    gap: 10px;
}
.container> .cart > p{
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Grayish-blue);
}
.container> .cart > #cart-root > .img > p{
    width: 130px;
    height: 50px;
    font-size: 10px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Grayish-blue);
}
.container> .cart >#cart-root > .img > p >.number>.num{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Black);
    font-weight: bolder;
}
.container> .cart >#cart-root > .img >svg:hover{
    cursor: pointer;
}
.container> .cart >#cart-root >.img >img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.container> .cart >#cart-root > .btn{
    width: 100%;
    height: 50px;
    background-color: var(--Orange);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.container> .cart >hr{
    border: var(--Light-grayish-blue) 1px solid;
}

.container>.hr {
    width: 90%;
    height: 2px;
    margin: 0px auto;
    position: sticky;
    background-color: var(--Grayish-blue);
    z-index: 0;
}

.container>.main {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.container>.main>.gallery>.img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.container>.main>.gallery>.img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container>.main>.gallery>.second_gallery {
    width: 300px;
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.container>.main>.gallery>.second_gallery>img {
    width: 63px;
    border-radius: 5px;
}

.container>.main>.gallery>.second_gallery>img:hover {
    cursor: pointer;
    filter: saturate(0.5) brightness(1.3);
}

.container>.main>.info {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container>.main>.info>.info_text {
    color: var(--Grayish-blue);
    font-size: 12px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.container>.main>.info>.heading_text {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.container>.main>.info>.p_text {
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Grayish-blue);
    margin: 20px 0px;
}

.container>.main>.amount {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container>.main>.info>.amount>.price {

    font-size: 1.5rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Black);
}

.container>.main>.info>.amount>.price>span {
    background-color: var(--Black);
    color: var(--White);
    margin: 0px 20px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

.container>.main>.info>.amount>.old_price {
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}

.container>.main>.info>.button {
    display: flex;
    gap: 10px;
}

.container>.main>.info>.button>.num {
    display: flex;
    width: 100px;
    background-color: var(--Light-grayish-blue);
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
}

.container>.main>.info>.button>.num>svg:hover {
    cursor: pointer;
}

.container>.main>.info>.button>.num>.number {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container>.main>.info>.button>.cart>button {
    background-color: var(--Orange);
    border: none;
    padding: 5px 50px;
    border-radius: 10px;
}

.container>.main>.info>.button>.cart>button>svg {
    width: 30px;
    height: 20px;
    color: var(--Black);

}

.container>.main>.info>.button>.cart>button:hover {
    background-color: var(--Pale-orange);
    cursor: pointer;
}

.container > .main2 {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.822);
    z-index: 5;
    display: none;
}
.container > .main2 > .main2-root{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.container > .main2 > .main2-root >.svg3{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--White);
    margin-bottom: 10px;
}
.container > .main2 > .main2-root >.svg3 >svg:hover{
    fill: var(--Orange);
    cursor: pointer;;
}
.container > .main2 > .main2-root > .img {
    display: flex;
    align-items: center;
}
.container > .main2 > .main2-root > .img > .svg1,
.container > .main2 > .main2-root > .img > .svg2{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--White);
    z-index: 1;
    position: relative;
}

.container > .main2 > .main2-root > .img > .svg1 > svg,
.container > .main2 > .main2-root > .img > .svg2 >svg:hover{
    
    cursor: pointer;
}
.container > .main2 > .main2-root > .img > .svg1{
    left: 20px;
}
.container > .main2 > .main2-root > .img > .svg2{
    right: 20px;
}
.container > .main2 > .main2-root > .img > img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    z-index: 0;

}
.container > .main2 > .main2-root > .gallery {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container > .main2 > .main2-root > .gallery > img{
    margin-top: 20px;
    width: 80px;
    border-radius: 5px;
    height: 85px;
}
.container > .main2 > .main2-root > .gallery > img:hover{
    cursor: pointer;
    filter: saturate(0.5) brightness(1.3);
}
.active{
    border: 2px solid var(--Orange);
}
.Display{
    display: block;
    background-color: var(--Orange);
}
.remove{
    display: none;
}